{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
            <title>Contact Us</title>
            </head>
            <body>
                <h1>Contact Us</h1>
                
                    <form method="post">
                            {% csrf_token %}
                                    {{ form.as_p }}
                                            <button type="submit">Submit</button>
                                                </form>
                                                
                                                    {% if form.errors %}
                                                            <div style="color: red;">
                                                                        <ul>
                                                                                    {% for field, errors in form.errors.items %}
                                                                                                    {% for error in errors %}
                                                                                                                        <li>{{ field|title }}: {{ error }}</li>
                                                                                                                                        {% endfor %}
                                                                                                                                                    {% endfor %}
                                                                                                                                                                </ul>
                                                                                                                                                                        </div>
                                                                                                                                                                            {% endif %}
                                                                                                                                                                            </body>
                                                                                                                                                                            </html>>
